.name-tab {
    text-align: center;
}

.btn-category {
    display: flex;
    justify-content: center;
}

.btn-category button {
    margin-right: 15px;
}

.btn-category button:last-child {
    margin-right: 0px;
}

.null_task {
    text-align: center;
    font-size: 20px;
}

.del_btn {
    margin-left: 10px;
}

