ul {
    background: deepskyblue;
    /*padding: 10px 0;*/
    margin: 0;
    display: flex;
    list-style-type: none;
    justify-content: center;
    border-bottom: 2px solid black;
}

ul li {
    margin-right: 40px;
    padding: 15px 10px;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li:hover {
    background: rgba(255, 255, 255, 0.33);
}

/*ul li:first-child {*/
/*    padding-left: 10px;*/
/*}*/

body {
    background: #ffda95;
}